/* css style sheet for Aloha Apparel Co. */
/*GENERAL STYLES*/
body {
  font-size: 1rem; /*desktop 16px; mobile: 14px=0.875rem - will work it with media queries;*/
  font-family: 'Raleway Light', sans-serif;
  color: #2d2d2d;
  text-align: center;
  margin: 0 auto;
  /* should I set up the max-width 1240px?*/
}
a {
  text-decoration: none;
}
/*FONTS---------- needs to work on this later*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/*End of generated fonts--*/
/*My typed fonts
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.otf");
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face{
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-MediumItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Ralway";
  src: url("../fonts/Ralway-Light.ttf");
}
@font-face{
  font-family: "Ralway";
  src: url("../fonts/Ralway-LightItalic.ttf");
  font-style: italic;
}*/
h3 {
  font-family: "Playfair Display",serif;
  line-height: 1;
  font-size: 5rem;/*80px according to PS*/
  font-style: italic;
  font-weight: lighter;
}
span {
  font-weight: bold;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
}
/*NAVIGATION* -----*/
ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
 }
li {
   display: block;
   padding: .6rem 1rem;
}
li a{
   font-size: 2.063rem;/*33px according to ps*/
   color:#e2574c;
   text-transform: uppercase;
   font-family: "Raleway";
 }
 li a:hover {
 	color:#b64036;
 }
 .menuwrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
 }
 .fullNav{
   height: 200px;
   display: flex;
   justify-content: space-around;
   /*fixed nav?
     position: fixed;
     top:0;
     z-index:10;
     background: white;
   }*/
 }
 .logo{
   width:200px;
   margin: 3rem;
 }
 /*is this sremantically ok? for logo I used nav a img, for cart icon I used id. Mhhhhh????*/
 .fullNav a img{
   width: 250px;
 }


#shopping_icon{
  margin: 3rem;
}
/*INTRO*/
#intro{
  background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url("../images/banner-girl.png") no-repeat center 80px, url("../images/flower-bkgd.jpg") repeat-x center center;
  background-size: auto, contain, contain;/*check the contain for flower background with media query for screen*/
   height: 400px;

}
/*distance from top and bottom: 450px*/
.text-wrapp{
  text-align: center;
  max-height: 200px;
  padding: 450px 0px;
}
h1, h2{
  color: #ffff;
  /*text-shadow should use #969696  so in rgba it is:*/;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.5);
  text-align: center;
  /*padding: 450px 0px;*/
}
h1{
  font-size: 5.125rem;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 0.5);
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h2{
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: lighter;
}

/*FEATURED GALLERY--------------*/
p{
  font-size: 1.15rem;
  text-shadow: #242424 1px 1px 2px;
}
.grid-container{
  display:flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  /*grid-gap: 10px;
  grid-tremplate-columns: auto auto auto;*/
}
/*using flexbox to see if it gets easier to position a text*/
.griditem p{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 3.625rem;
  text-transform: uppercase;
  color: #ffff;

}
.griditem{
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  flex: 1 1 auto;
}

.griditem:first-of-type{
  background-image: url(../images/mens-category.jpg);
}
.griditem:nth-of-type(2) {
  background-image: url(../images/trends-category.jpg);
}
.griditem:nth-of-type(3) {
  background-image: url(../images/glasses-category.jpg);
}
.griditem:nth-of-type(4) {
  background-image: url(../images/sale-category.jpg);
}
.griditem:nth-of-type(5) {
  background-image: url(../images/bags-category.jpg);
}
.griditem:last-of-type {
  background-image: url(../images/womens-category.jpg);
}
/*SLIDER------*/

/*NEWSLETTER------*linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%)*/
#newsletter{
  height: 700px;
  background: linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.5)), url(../images/wave-bkgd.jpg) no-repeat center;
  /*I assumed it is fixed because on jpgs there is a liitle scroll bar on the right
  background-attachment: fixed;*/
  color:#ffff;
  margin-bottom: 8px
}
.subscription{
  margin: 0 auto;
  justify-content: center;
  padding-top: 150px;
}
/*FOOTER-------------------------*/
footer{
  background-color: #242424;
  color: #ffff;
  padding: 140px 40px;
}
.contact{
  text-align: left;
}
.address{
  color: #969696
}
.social-menu{
  display: block;
  text-align: left;
}
.social a{
  color: #ffff;
  text-transform: capitalize;
}
footer p{
  padding: 10px 0;
}

/*MEDIA QUERIES--*/
@media all and  (min-width: 1240px){
  #intro {
        /*background-size: cover,250px 615px,contain;*/
        height: 550px;
        /*position: relative;*/
  }
  .text-wrapp {
    text-align: center;
    max-height: 200px;
    padding: 150px 0px;
  }
  .container{
    max-width: 1240px;
  }
}
@media only screen and (min-width: 600px){
  .grid-container{
    flex: 25%;
  }
}
