/* css style sheet for Aloha Apparel Co. */
/*GENERAL STYLES*/
*,*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 1em; /*desktop 16px; mobile: 14px=0.875em;*/
  font-family: "Raleway Light", sans-serif;
  color: #2d2d2d;
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display",sans-serif;
}

/*NAVIGATION* -----*/
ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
 }

 li  {
   display: block;
   padding: .6em 1em;
 }
 li a{
   font-size: 1.5em;
   color:#e2574c;
   text-transform: uppercase;
   text-decoration: none;
 }
 li a:hover {
 	color:#b64036;
 }
 .menuwrapper{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
 }
 .fullNav{
   height: 200px;
   display: flex;
   justify-content: space-around;
 }
 #logo{
   width:200px;
   margin: 3em;
 }
#shopping_icon{
  display: inline-block;
  /*height: 50px; - tbc why height is not displaying properly*/
  margin: 3em;
  width: 50px;
}
/*INTRO*/
#middle_photo{
  height: 1000px;
}
#intro{
  height: 1100px;
  background-image:url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, repeat;
  background-size: contain, cover;/*cover really looks bad, very ugly*/
  background-position: center 200px, center center;
  /*girl is moving yay!!!!
  background-attachment: fixed, scroll; */
}
/*distance from top and bottom: 450px*/
.text-wrapp{
  display: block;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  padding: 450px 0px;
}
section h1, h2{
  color: #ffff;
  /*text-shadow should use #969696  so in rgba it is:*/;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 0.5);
  text-align: center;
  /*padding: 450px 0px;*/
}
h1{
  font-size: 5.125em;
}
h2{
  text-transform: uppercase;
}
/*MOTTO---------------*/
#motto{
  height: 530px;
}
/* need to figure out how to style this class here .text-wrapp{
  padding: 125px 0px;
}*/
/*FOOTER-------------------------*/
footer{
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  color: #ffff;
  padding: 140px 40px; /*need to recalculate again with text height*/
}
div.contact{
text-align: left;
}
p.address{
  color: #969696
}
.social-menu{
  display: block;
}
